<html lang="en">
<h1 align="center">Activity</h1>
<div class="space">
    <button onclick="clear_logs_data()">clear</button>
    <div>
        <label>count of uniq pings
            <input id="count">
        </label>
    </div>
</div>
</html>
<script>
    const socket = new WebSocket('ws://' + window.location.host + '/activity');
    let logsData = [];

    // Connection opened

    // Listen for messages
    const inputElement = document.getElementById('count')
    socket.addEventListener('message', function (event) {
        let _logsData = []

        JSON.parse(event.data).forEach(currentData => {
            currentData = JSON.parse(currentData)
            _logsData.push(currentData.key + currentData.username);
        })
        logsData = logsData.concat(_logsData)
        console.log([...new Set(logsData)])

        inputElement.value = [...new Set(logsData)].length;
    });

    function clear_logs_data() {
        logsData = [];
        inputElement.value = 0;
    }
</script>