<html lang="en">
<h1 align="center">Activity</h1>
<div class="space">
    <button onclick="clear_logs_data()">clear</button>
    <div>
        <label>count of uniq pings
            <input id="count">
        </label>
    </div>
</div>

<div class="special-log">
    <input id="documentId" placeholder="documentId">
    <button onclick="special_log()">Save</button>

</div>
</html>
<script>
    const socket = new WebSocket('ws://' + window.location.host + '/activity');
    let logsData = [];

    // Connection opened

    // Listen for messages
    const inputElement = document.getElementById('count')
    socket.addEventListener('message', function (event) {
        if (event.data === 'specialLog') {
            console.log('specialLog')
        } else {
            let _logsData = []
            JSON.parse(event.data).forEach(currentData => {
                currentData = JSON.parse(currentData)
                _logsData.push(currentData.key + currentData.username);
            })
            logsData = logsData.concat(_logsData)

            inputElement.value = [...new Set(logsData)].length;
        }

    });

    function clear_logs_data() {
        logsData = [];
        inputElement.value = 0;
    }

    function special_log() {
        specialSocket = new WebSocket('ws://' + window.location.host + '/activity/?key=' + document.getElementById('documentId').value);
    }
</script>

<style>
    .special-log {
        margin: 2em;
    }
</style>