<html lang="en">
<head>
    <title>Activity</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
<div class="space">

</div>
<div class="space">
    <div class="case">
        <div class="case-description">All opened documents with plugin send logs with unique id to server. </br>
            This value is a count of unique ids from start of page loaded. </br>
            You can reset this value to count it again
        </div>
        <div class="case-title">Count of unique ids: <span id="count">0</span>
            <a class="button" onclick="clear_logs_data()">clear</a>
        </div>
    </div>
</div>

<div class="toolbar">
    <div class="case">
        <div class="case-description">This value is a average count of logs with id to 1 second</div>
        <div style="display: flex;">
            <input id="documentId" class="input-id" placeholder="documentId">
            <a class="button" onclick="special_log()">Save</a>
        </div>
        <div class="case-title">Average: <span id="average-count">0</span></div>
    </div>
</div>
</body>
</html>
<script>
    const socket = new WebSocket('ws://' + window.location.host + '/activity');
    let logsData = [];
    let timer = new Date().getTime();
    let specialLogsCount = 0;

    // Connection opened

    // Listen for messages
    const inputElement = document.getElementById('count')
    socket.addEventListener('message', function (event) {
        if (event.data === 'specialLog') {
            specialLogsCount +=1;
            console.log('specialLog')
        } else {
            let _logsData = []
            JSON.parse(event.data).forEach(currentData => {
                currentData = JSON.parse(currentData)
                _logsData.push(currentData.key + currentData.username);
            })
            logsData = logsData.concat(_logsData)

            inputElement.innerText = [...new Set(logsData)].length;
        }
    });

    function clear_logs_data() {
        logsData = [];
        inputElement.innerText = 0;
    }

    function special_log() {
        const element = document.getElementById('average-count')
        timer = new Date().getTime();
        specialLogsCount = 0;
        specialSocket = new WebSocket('ws://' + window.location.host + '/activity/?key=' + document.getElementById('documentId').value);
        let timeleft = 0;
        setInterval(() => {
            element.innerText = (specialLogsCount/timeleft).toFixed(1);
            timeleft += 0.5;

        }, 500)
    }
</script>
