<html>
<body>

<div class="space">
    <a href="background_for_paragraphs"><b>Background for paragraphs</b> case</a> <br>
    <a href="background_for_cells"><b>Background for cells</b> case</a>
</div>
</body>
<head>
    <link rel="shortcut icon" href="public/favicon.ico"/>
</head>
</html>
<style>
    div, body, html {
        height: 100%;
    }
</style>